modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24525
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_ARCGIS_API_KEY = "AAPTacSYwivHJ0FNQmAucfNkAIA..KTFkYbzsLzYMhA1BhVnVWFJBfNtjF-OVzjkXcki16KUsLH4bekmAyE-GXy85JFUKV9ekmdeUWRfTWLCaye10oH2vv-CR8uQChUO-5bCH-4DdGVGXA15BhGA3oV77v0p27xCmftRaaycRMMgSRiYF0HGJNg92dGLOEbGZupQqlDQlpzd6AJKASrCWTwuh844CxOLnkTivb9lyFjGz8BsYdYHpHPLV51-lH9gKEZE5Itym3qMY6ykO87b2AT1_SBlMBpuE"
